/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
TabPane{
	-fx-background: rgba(53,127,255,0.9);
}

tabs{
	-fx-color: rgba(53,127,255,0.9);
	
}

AnchorPane {
	-fx-background: rgba(53,127,255,0.9);
	
}